body {
  color: #ffffff;
  background-color: #222831;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222831;
  color: white;
  padding: 10px;
}

.navbar p {
  margin-right: auto;
}

.navbar button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #7e57c2;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #5e35b1;
}
