.chatContainer {
  background-color: #f0e8d8;
  border: 2px solid #5e503f;
  /* border-radius: 8px; */
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
}

.messagesContainer {
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.messages > li {
  padding: 10px;
}

.messageOdd {
  background-color: #efefef;
}

.messageEven {
  background-color: #ffffff;
}

.form {
  background: rgba(0, 0, 0, 0.15);
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  margin-top: auto;
}

.input {
  border: none;
  padding: 10px;
  flex-grow: 1;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.button {
  background-color: #8b4513;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  background-color: #5e503f;
}

.error {
  color: #b30000;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
