.chatContainer {
  background-color: #222831;
  border: 2px solid #393e46;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
}

.messagesContainer {
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.messages > li {
  padding: 10px;
}

.messageOdd {
  background-color: #2c3941;
}

.messageEven {
  background-color: #364156;
}

.form {
  background: none;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.input {
  border: none;
  padding: 12px 16px;
  flex-grow: 1;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #ffffff46;
  color: white;
}

.input:focus {
  outline: none;
}

.button {
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #fa8072;
}

.error {
  color: #ff7f50;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
