.playerDetails {
  background-color: #222831;
  border: 2px solid #393e46;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* height: calc(100vh - 110px); */
}

.playerName {
  font-size: 24px;
  color: #ff5252;
  margin-bottom: 10px;
}

.playerDescription {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}

.primaryAbility {
  font-size: 18px;
  margin-top: 10px;
  color: #fa8072;
}

.error {
  color: #ff7f50;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
